* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

header {
  margin: 24px 0;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

footer {
  margin: 24px auto;
}

ul {
  list-style: none;
  margin-top: 12px;
  padding-left: 12px;
}

li {
  flex-wrap: wrap;
}

li:not(:first-child) {
  margin-top: 8px;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.contents .content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contents {
  width: 280px;
  padding: 20px;
}
.content {
  flex: 1;
  height: 100%;
}

.content-block {
  margin-top: 20px;
}

.links-content {
  list-style: inside;
}

.boxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  margin: 32px auto;
}

.box {
  width: 410px;
  height: 150px;
}

.purple {
  background-image: linear-gradient(to bottom right, #6889ff, #c668ff);
}

.peach {
  background-image: linear-gradient(to bottom right, #ff6868, #ff68de);
}

.sunset {
  background-image: linear-gradient(to bottom right, #fdc639, #ff7c60);
}

.night {
  background-image: linear-gradient(to bottom right, #403f44, #1e1b32);
}

.synthwave {
  background-image: linear-gradient(to bottom right, #ff9e68, #ff68de);
}

.grass {
  background-image: linear-gradient(to bottom right, #45c270, #21cdc3);
}

.ocean {
  background-image: linear-gradient(to bottom right, #5b7fff, #33ccfc);
}
